<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
  <title>Accueil</title>
</head>

<body>
  <%- include('menu.ejs') %>

    <div class="box">
      <h1 class="title"> Accueil d'AsiNote </h1>
      <% if (typeof user[0] !=='undefined' ) { %>
        <h1 class="title"> Authentifié en tant que : <%= user[0]['nomProfesseur'] %> <%= user[0]['prenomProfesseur'] %>  </h1>

        <section class="section">
            <article> <a href="/prof/matieres" class="is-link"> Mes matières </a> </article>
            <article> <a href="/prof/classes" class="is-link"> Mes classes </a> </article>
            <article> Sect4 </article>
            <article> Sect5 </article>
      </section>
      <% } else { %>
        <h1 class="title"> Problème avec les idenfitifiants </h1>
        <h2 class="subtitle"> Aucun accès autorisé </h2>
        <% } %>
  </div>

</body>

</html>