<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
    <title>Accueil</title>
</head>
<body>
    <%- include('menu.ejs') %>

    <h1 class="title"> Accueil de AsiNote </h1>
    <% if (typeof user !== 'undefined' ) { %>
      <h1 class="title"> Authentifié en tant que : <%= user %></h1> 
    <% } %>

    <section class="section">
      <article> Sect1 </article>
      <article> Sect2 </article>
      <article> Sect3 </article>
      <article> Sect4 </article>
      <article> Sect5 </article>
    </section>

</body>
</html>