<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
  <title>Classes</title>
</head>

<body>
  <%- include('menu.ejs') %>

    <div class="box">
      <h1 class="title"> Mes classes </h1>
      <% if (typeof user !=='undefined' ) { %>
        <h1 class="title"> Authentifié en tant que : <%= user %>
        </h1>

        <section class="section">
          <% if (typeof classe=='undefined' || classe.length==0) { %>
            <h2 class="subtitle"> Aucune classe </h2>            
          <% } else {%>
              <article>
                <!-- <h2 > Mes classes : </h2> -->
                <% classe.forEach(element=> { %>
                  <p class="subtitle"> <a name="idClasse" id="idClasse" href="/prof/notes/<%= element['idSection'] %>"> <%= element['libelleSection'] %> </a> </p>
                <% }) %>
            <% } %>
            </article>
            <br>
      </section>
      <% } else { %>
        <h1 class="title"> Problème avec les idenfitifiants </h1>
        <h2 class="subtitle"> Aucun accès autorisé </h2>
        <% } %>
  </div>

</body>

</html>