<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/bulma/css/bulma.css">
    <link rel="stylesheet" href="/public/css/bulma/css/bulma.min.css">
    <title>Accueil</title>
</head>
<body>
    <div class="box">
        <h1 class="title"> Authentification </h1>
        <%# with (Session || {}) {  %>
            <% if (typeof message !== 'undefined') { %>
                <article class="notification is-danger">
                    <button class="delete"></button>
                    <p><%= message %></p>
                </article>
            <% } %>
            <% if (typeof error !== 'undefined') { %>
                <article class="notification is-danger">
                    <button class="delete"></button>
                    <p><%= error %></p>
                </article>
            <% } %>
        <%# } %>
        <form action="/prof/accueil" method="post" enctype="application/x-www-form-urlencoded">
        <!-- <form action="/prof/accueil" method="get"> -->
            <div class="field">
                <label class="label" for="usr_id"> Login / Identifiant unique </label>
                <input class="input is-success" type="text" id="usr_id" name="usr_id">
            </div>

            <div class="field">
                <label class="label" for="pwd"> Mot de passe </label>
                <div class="control">
                    <input class="input" type="password" id="pwd" name="pwd">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link">Se connecter</button>
                </div>
                <!-- <div class="control">
                    <button class="button is-text" type="reset"></button>
                </div> -->
            </div>
        </form>
        <br>
        <form action="/logout" method="get">
                <div class="field">
                    <div class="control">
                        <button class="button is-link">Quitter</button>
                    </div>
                    <!-- <div class="control">
                        <button class="button is-text" type="reset"></button>
                    </div> -->
                </div>
            </form>
    </div>

    <script src="/public/js/js_handler.js"></script>
    <script src="/public/js/js_handler_menu.js"></script>
</body>
</html>